spring:
  datasource:
    url:  ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

telegram:
  bot:
    username: ${BOT_USERNAME}
    token: ${BOT_TOKEN}
    root-admin-ids: ${ADMIN_IDS}


resilience4j:
  circuitbreaker:
    instances:
      quizService:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
        minimumNumberOfCalls: 5
